## Programa minha casa minha vida

### Dados do IBGE

### Recurso usado Google Colab

In [ ]:
import pandas as pd

In [ ]:
import cufflinks as cf
from plotly.offline import plot, iplot
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objs as go
import plotly.offline as py

In [ ]:
# Criar o arquivo dados com as informações disponíveis no arquivo MCMV.CSV
dados = pd.read_csv('drive/My Drive/MCMV.csv', sep=';')

In [ ]:
# Arquivo com 20229 linhas e 22 colunas
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20229 entries, 0 to 20228
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FID         20229 non-null  object
 1   UF          20229 non-null  object
 2   COD_IBGE    20229 non-null  int64
 3   CAPITAIS    959 non-null    object
 4   XCOORD      20229 non-null  float64
 5   YCOORD      20229 non-null  float64
 6   Municipio   20229 non-null  object
 7   UF_1        0 non-null      float64
 8   Faixa_de_r  20229 non-null  object
 9   Produto     20229 non-null  object
 10  UH          20229 non-null  int64
 11  Valor       20229 non-null  float64
 12  Concluidas  20229 non-null  int64
 13  Entregues   20229 non-null  int64
 14  Sub_FGTS    20229 non-null  float64
 15  Sub_OGU     20229 non-null  float64
 16  Percentual  20229 non-null  float64
 17  IF          20229 non-null  object
 18  PMCMV       20229 non-null  int64
 19  Faixa       20228 non-null  object
 20  UH_CONC     20229 non-null  int64
 21  the_geom    20229 non-null  object
dtypes: float64(7), int64(6), object(9)
memory usage: 3.4+ MB

### O programa minha casa minha vida atende 03 Faixas de renda.
### O território brasileiro contém 5270 municípios e 27 unidades federativas.

In [ ]:
# Renomear algumas colunas do arquivo dados.
dados.rename(columns={'FID': 'ID_MCMV','XCOORD': 'Latitude', 'YCOORD':'Longitude','Faixa_de_r': 'Faixa_de_renda','UH': 'Unidades', 'UH_CONC': 'Construindo'}, inplace=True)
dados.head(2)

In [ ]:
# Cirar o arquivo Faixa_de_renda - agrupando algumas colunas por "Faixa_de_renda"
Faixa_de_renda = dados[['Faixa_de_renda','Unidades','Valor','Concluidas', 'Entregues',]].groupby(dados['Faixa_de_renda']).sum()

In [ ]:
# Criar o arquivo municipios1 agrupando as colunas "COD_IBGE" e "Municipio" por "COD_IBGE"
municipios1 = dados[['COD_IBGE','Municipio']].groupby(dados['COD_IBGE']).sum()

In [ ]:
# Criar o arquivo municipios para eliminar municípios duplicados
municipios = municipios1.dropna().drop_duplicates()

In [ ]:
# Criar o arquivo estados - agrupando algumas colunas por "UF"
estados = dados[['Unidades', 'Valor','CAPITAIS', 'Concluidas', 'Entregues',]].groupby(dados['UF']).sum()

In [ ]:
# Criar o arquivo estadosloc com as colunas "UF", "CAPITAIS", "Latitude", "Longitude"
estadosloc = dados[['UF','CAPITAIS','Latitude', 'Longitude']]

In [ ]:
# Criar o arquivo geom para eliminar "Latitude" e "Longitude" duplicadas.
geom = estadosloc.dropna().drop_duplicates()

In [ ]:
# Criar o arquivo "arquivo" para unir os arquivos "estados" e "geom"
arquivo = estados.merge(geom, on='UF', how='left')

In [ ]:
# Unidades por faixa de renda.
Faixa_de_renda.head()

                Unidades         Valor  Concluidas  Entregues
Faixa_de_renda
Faixa 1           797224  3.479972e+10      380740     288283
Faixa 2           569795  4.024637e+10      325350     286921
Faixa 3           184001  1.426298e+10       62754      34848

In [ ]:
# Estados atendidos pelo Programa minha casa minha vida.
arquivo.head(28)

    UF  Unidades         Valor  ...  CAPITAIS  Latitude  Longitude
0   AC      3844  2.136992e+08  ...   Capital  -67.8100  -9.974720
1   AL     53149  2.526037e+09  ...   Capital  -35.7353  -9.665830
2   AM     22348  1.253980e+09  ...   Capital  -60.0250  -3.101940
3   AP      4056  2.223396e+08  ...   Capital  -51.0664   0.033333
4   BA    131642  6.076536e+09  ...   Capital  -38.5108 -12.971100
5   CE     34088  1.681463e+09  ...   Capital  -38.5431  -3.717220
6   DF      7229  5.150368e+08  ...   Capital  -47.9297 -15.779700
7   ES     23765  1.439481e+09  ...   Capital  -40.3378 -20.319400
8   GO     93075  5.997944e+09  ...   Capital  -49.2539 -16.678600
9   MA     58743  2.395717e+09  ...   Capital  -44.3028  -2.529720
10  MG    147296  8.841857e+09  ...   Capital  -43.9378 -19.920800
11  MS     28402  1.696611e+09  ...   Capital  -54.6464 -20.442800
12  MT     36043  1.899563e+09  ...   Capital  -56.0967 -15.596100
13  PA     50285  2.580205e+09  ...   Capital  -48.5044  -1.455830
14  PB     27641  1.515798e+09  ...   Capital  -34.8631  -7.115000
15  PE     60361  2.904192e+09  ...   Capital  -34.8811  -8.053890
16  PI     31683  1.266141e+09  ...   Capital  -42.8019  -5.089170
17  PR    106876  6.420708e+09  ...   Capital  -49.2731 -25.427800
18  RJ     90720  5.942429e+09  ...   Capital  -43.2075 -22.902800
19  RN     31726  1.588504e+09  ...   Capital  -35.2094  -5.795000
20  RO     10141  4.854461e+08  ...   Capital  -63.9039  -8.761950
21  RR      2351  1.038645e+08  ...   Capital  -60.6733   2.816950
22  RS    116779  6.876162e+09  ...   Capital  -51.2300 -30.033100
23  SC     56806  3.741971e+09  ...   Capital  -48.5492 -27.596700
24  SE     17742  9.709569e+08  ...   Capital  -37.0717 -10.911100
25  SP    292102  1.967513e+10  ...   Capital  -46.6361 -23.547500
26  TO     12127  4.773049e+08  ...   Capital  -48.3603 -10.212800

[27 rows x 8 columns]

In [ ]:
# Municípios atendidos pelo Programa minha casa minha vida.
municipios.count()

COD_IBGE    4614
dtype: int64

## Objetivo: Conhecer os recursos para o processamento de arquivos com a biblioteca Pandas.